name: Daily First Filings Run

on:
  schedule:
    - cron: '30 21 * * *'
  workflow_dispatch:

jobs:
  run-daily:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Run first-filings
        run: uv run first-filings

      - name: Upload Output JSON
        uses: actions/upload-artifact@v4
        with:
          name: first-filings-output
          path: first_filings_output.json
          retention-days: 1
